[Desktop Entry]
Type=Application
Name=Wuziqi
GenericName=Wuziqi
Comment=Wuziq game
Keywords=wuziqi
Exec=wuziqi
Icon=${SNAP}/meta/gui/wuziqi.png
Terminal=false
StartupNotify=true
